:root {
    --primary: #3d087b;
    --dark: #11052c;
    --light: #f43b86;
}

#highScoresList {
    padding: 10px;
    list-style: none;
    margin-bottom: 4rem;
    color: var(--light);
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--dark);
}

.high-score {
    font-size: calc(10px + 2vmax);
    margin-bottom: 0.5rem;
}
