:root {
    --primary: #3d087b;
    --dark: #11052c;
    --light: #f43b86;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffecb3;
}

h1 {
    font-size: calc(22px + 2vmax);
    color: var(--light);
    margin-bottom: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px var(--dark);
}

h2 {
    font-size: calc(20px + 1.5vmax);
    color: var(--light);
    margin-bottom: 4rem;
    text-shadow: 2px 2px 4px var(--dark);
}

p {
    font-size: calc(10px + 2vmax);
    padding: 1.75rem 0;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light);
    text-shadow: 1px 1px 2px var(--dark);
}
.container {
    margin: 25px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 1.75rem;
    padding: 1.75rem 0;
    width: calc(50px + 30vmax);
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--light);
    background: var(--dark);
    border-radius: 10px;
    box-shadow: 4px 4px 6px 5px var(--dark);
}

.button:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* End page CSS */
.end-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: calc(100px + 30vmax);
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 5px 5px 15px 5px var(--dark);
}

input::placeholder {
    color: #aaa;
} 

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: var(--light);
    text-align: center;
}

#saveScoreButton {
    border: none;
}
  
@media screen and (max-width: 768px) {
    .container {
        margin-left: 45px;
        margin-right: 45px;
    }
}